[2012-10-21 08:13] kevana opened #2 "Individual Head controller I2C issues"
Will we run into any issues trying to use I2C for both sending data from the headmaster chip to the slaves, and from the slaves to the individual PWM chips?

[2012-10-21 16:15] taylortrimble commented on #2
@aterlumen Good question. I think that the slave boards in our case _only are_ PWM chips. I don't think they have any intermediary logic.

[2012-10-22 02:12] kevana opened #3 "Incorrect PRAGMA code"
Will need to update everything for the PIC18F14K50

[2012-10-22 02:57] taylortrimble opened #4 "I2C Interface - Multiple Addresses"
The [I2C interface](https://github.com/teslaworksumn/HeadMaster/wiki/I2C-Interface) we are working with right now declares that we must send an address 0001111 to the PWM chip. It looks like that address is fixed, so sending to 4 different chips may not be possible with the current PWM chip firmware (unless I am reading it wrong). Rachel may need to help us modify the PWM chip firmware.

[2012-10-22 16:55] CrasherCourse commented on #2
@tylrtrmbl @aterlumen That's correct the slaves are the PWM chips.  Technically we're using reprogrammed microchips, but in theory they should simply be PWM chips.

[2012-10-22 17:08] #2 closed, assigned to nobody

[2012-10-22 17:08] taylortrimble commented on #2
@CrasherCourse Excellent! Thank you. Also, feel free to "comment and close" in the future if there's a finality to your answer.

[2012-10-22 17:12] taylortrimble commented on #4
I just answered my own question in the [slave repo](https://github.com/teslaworksumn/headslave#address-format).
:flushed:

[2012-10-22 17:12] #4 closed, assigned to nobody

[2012-10-22 17:33] taylortrimble opened #5 "Make number of I2C bytes sent flexible"
We should change the I2C send byte count so that it doesn't always send 10 bytes, but maybe sends only 8. I think we have only 8 servos per head currently, so we may actually see significant time savings in our 176µs window.

[2012-10-23 16:01] taylortrimble opened #8 "Using reserved FSR0 in assembly"
I believe that FSR0 and FSR1 in C18 are reserved for the stack and frame pointer. I think we will have to use FSR2 when we currently

[code]

Also, we'll need to make sure that we are saving and restoring that, as the micrcontroller may be parital to what's inside it.

[2012-10-23 16:12] taylortrimble commented on #8
FYI, cool tip. If any of you fix this, in your commit message you can include one of the following:

[code]

And it will automatically close this issue. It's like magic. For example, if you fixed this particular issue you would say something like:

[code]

Happy coding!

[2012-10-25 06:00] #5 closed, assigned to nobody

[2012-10-25 06:00] #8 closed, assigned to nobody

[2012-10-25 17:50] taylortrimble opened #9 "Load and Restore FSRs used in ASM"
We are using FSRs in the inlline assembly code, but our assembly was designed for when we had total control over the FSRs. Now that we are in C, our FSRs are all shared and shit. We need to test that it's okay for us to use FSR2 without loading and restoring.

[2012-10-25 22:43] CrasherCourse opened #10 "PIC chip Confirmation"
@tylrtrmbl Which PIC chip are we using?  I thought we were using the PIC18F14K50 but, Rachael said we weren't.

[2012-10-25 23:09] taylortrimble commented on #10
I think there is something about this in #3 too.

[2012-10-25 23:09] taylortrimble commented on #10
Lets move the conversation over there

[2012-10-26 02:11] CrasherCourse commented on #10
So if we're not using that PIC what are we going to use?

[2012-10-26 02:12] CrasherCourse commented on #3
Turns out we're using a different chip than the PIC18F14K50.
But, we still need to update the PRAGMAs.

[2012-10-26 02:31] taylortrimble commented on #10
Sorry @CrasherCourse, you were right about this issue. I had a conversation with @mistressoftheelectron about PICs, and she said that it would be better for us to use the PIC18F2620 because it can take 5 volt power. It shouldn't change our code at all, but if it does it will be very minor. Actually, this is closer to the chip we used for the light show (which is the basis for our code now) so we m

[2012-10-26 02:48] kevana commented on #10
No objections from me.

On Thu, Oct 25, 2012 at 9:31 PM, Taylor Trimble notifications@github.comwrote:

[2012-10-26 04:24] John-Phillips commented on #10
Let's do this!

[2012-10-31 22:34] taylortrimble opened #13 "Deprecated Compiler"
Hello @aterlumen @CrasherCourse and the rest,

So, just so you know, the C18 compiler is being phased out in favor of a new compiler, XC8. We could either try to convert over to XC8 before we start major work (DMX processing) or just keep going on C18 since its familiar.

What do you think?

[2012-10-31 22:42] taylortrimble commented on #13
**C18 -> XC8**

Pros:
- We aren't using a deprecated compiler
- XC8 is designed to be super-super portable, which may be advantageous later on for similar (servo) projects
- XC8 is not that different than C18, and it's similar to High-Tech C (the "other" compiler than C18 before XC8 came out)
- Overall, XC8 is more standardized and technologically advanced (compile stages) than C18
- Better Microc

[2012-11-01 04:35] kevana commented on #13
I'd be up for it.

On Wed, Oct 31, 2012 at 5:42 PM, Taylor Trimble notifications@github.comwrote:

[2012-11-01 14:33] CrasherCourse commented on #13
I'm fine with that.  It'll be fun to mess with a new compiler.

[2012-11-03 18:19] taylortrimble commented on #13
All right, sweet! I read through the [XC8 compiler documentation](http://www.microchip.com/mplabxc8guide) somewhat, really I found that chapter 2 was the most helpful. It basically describes what is different about using XC8 than past compilers.

Paper coming up soon, but after that I'll come up with a XC8/CCI compliant template.

[2012-11-03 18:19] #13 closed, assigned to nobody

[2012-11-03 18:41] taylortrimble commented on #3
Found out where the config directives are documented. You have to have the XC8 compiler installed, and the documentation is automatically installed alongside the compiler.

#### Access PIC18F2620 config bits for v1.10 (win: v1.11) of the XC8 compiler

Mac users:

[code]

PC users:

[code]

or something like that. You get the idea.

Don't forget to swap out version numbers for future versions of th

[2012-11-03 18:47] taylortrimble commented on #9
Both XC8 and C18 _forbid_ the use of FSR0, FSR1, and FSR2 in inline assembly. Which, of course, is all the FSRs. :smile: Kevan is working on translating our DMX ASM code to C, so this issue is moot.

[2012-11-03 18:47] #9 closed, assigned to kevana

[2012-11-03 22:02] kevana commented on #9
0_o That's unfortunate. Back to the grindstone....

[2012-11-03 22:16] taylortrimble commented on #9
I know, right? It's almost like C eats up resources or something. :stuck_out_tongue_closed_eyes:

[2012-11-04 14:27] CrasherCourse commented on #10
@tylrtrmbl Ok, so @mistressoftheelectron asked me to order some sample chips.  Instead of 2620, she asked me to get 2685.  According to her, she already spoke with @tylrtrmbl about the change and that these chips are like the 2620 just with more RAM and EPROM.

Is this true?  Cause, I already ordered the samples.

[2012-11-04 16:22] taylortrimble commented on #10
_Sigh_. No, we talked about the 2620 having more RAM and EEPROM over the 24J10, but not the 2685 having more RAM and EEPROM over the 2620.

In other words,
24J10 :arrow_right: 2620 :ok:
2620 :arrow_right: 2685 :question:

The 2685 isn't available as a breadboard part, which means we're reliant on PCB runs to test our circuit. I don't know if I'm a fan of that for more Program Memory and RAM we won

[2012-11-04 16:24] taylortrimble commented on #10
However, switching pinouts if you've already planned the hardware schematic with the 2685 is a big backtrack, so we'll make do with testing with a different chip on breadboard vs PCB if we must.

[2012-11-04 19:29] taylortrimble commented on #10
AAAAND I'm wrong; both are available as DIP components. In that case, from a software perspective it doesn't matter at all I think.

Thank you @CrasherCourse!

[2012-11-04 19:29] #10 closed, assigned to nobody

[2012-11-04 19:50] CrasherCourse commented on #10
I did order some sample DIP chips along with the PCB ones so @tylrtrmbl can get a look at it hopefully this week.
Luckily the pin diagrams are essentially the same and the XCP compiler eliminates the need for specific chip header.

The problem is that some names of register bits are labeled slightly differently for the MSSP.
And EUSART uses SCKP bit in place of RXDTP and TXCKP.

I can still get so

[2012-11-08 04:08] taylortrimble opened #16 "Remove testing code from master"
We're about to merge in some code (#14 and #15) and we'll want to be sure that it doesn't leave any test code in master. If it does, we'll remove it.

[2012-11-08 04:10] taylortrimble commented on #16
@CrasherCourse I've assigned this issue to you; when the code goes in can you double check this? Messy merges might mean this is hard to head off before we merge the Pull Requests this round. :smiley:

[2012-11-08 04:27] CrasherCourse commented on #16
Got it!

[2012-11-08 04:29] taylortrimble commented on #16
Thanks!

On Nov 7, 2012, at 10:27 PM, CrasherCourse notifications@github.com wrote:

[2012-11-09 08:40] taylortrimble commented on #10
Yes, that sounds good; I'll compile for PIC18F2685 in my `xc8` branch and if there's any build errors I'll open an issue. Thank you!

[2012-11-10 07:54] taylortrimble commented on #16
I think this is done.

[2012-11-10 07:54] #16 closed, assigned to CrasherCourse

[2012-11-11 06:04] mistressoftheelectron opened #17 "DIP switch and LED pins"
Would it be a problem if I change which pins the DIP switch and LEDs connect to?  Currently the DIP is on port A, and the LEDs on port B.  I'd like to swap them.

It makes the PCB layout simpler, and lets us take advantage of the internal pullup resistors on port B.  This means eliminating a bunch of extra resistors.  It should be pretty trivial to change the code.

[2012-11-11 20:14] taylortrimble commented on #17
That makes complete sense; go for it!

[2012-11-11 20:25] kevana commented on #17
No objections from me.

On Sun, Nov 11, 2012 at 2:14 PM, Taylor Trimble notifications@github.comwrote:

[2012-11-11 21:33] CrasherCourse commented on #3
In masterChipSendSignal.c were the pragma config commented out to prevent compile errors?

[2012-11-11 21:34] taylortrimble commented on #3
Yep!

On Nov 11, 2012, at 3:33 PM, CrasherCourse notifications@github.com wrote:

[2012-11-11 22:11] #17 closed, assigned to nobody

[2012-11-12 03:48] mistressoftheelectron commented on #17
Scratch that, I'm keeping the original plan.  Port B may have internal pullups, but it's also the only one which can directly supply the current to the LEDs.  The PCB is pretty much done now, and it's only about five cents worth of resistors.

[2012-11-12 04:04] taylortrimble commented on #17
Can't port A _sink_ that much current for an LED?

[2012-11-12 22:52] mistressoftheelectron commented on #17
Nope.  Port A can only source/sink a measly 4 mA per pin.  Port B can source/sink 25 mA per pin.  Crazy to not have internal pullups on every port, but apparently someone at microchip thought it was a good idea.

[2012-11-13 00:15] taylortrimble commented on #17
MICROCHIP WHY!!?? Okay.

On Nov 12, 2012, at 4:52 PM, mistressoftheelectron notifications@github.com wrote:

[2012-11-15 04:16] taylortrimble commented on #3
@CrasherCourse I saw you've got some progress done on this, are you ready to open a pull request yet?

[2012-11-15 06:41] CrasherCourse commented on #3
@tylrtrmbl Now I am.

[2012-11-15 07:09] kevana opened #20 "Code Licensing"
All of our homegrown source code should post a license on it.
GPL
LGPL
MIT / X11
BSD
Apache
Eclipse
Mozilla Public
etc.

Thoughts?

[2012-11-15 07:23] kevana opened #21 "Code Licensing"
All of our homegrown source code should have a license on it. Any preferences on what one to use?

[2012-11-15 07:23] kevana opened #22 "Code Licensing"
All of our homegrown source code should have a license on it. Any preferences on what one to use?

[2012-11-15 07:27] CrasherCourse commented on #20
While I have 0 experience with licensing.
GPL looks like it give receivers of our code the freedom to modify and distribute our code.

@aterlumen are you seeing duplicate issues?

[2012-11-15 07:30] #21 closed, assigned to nobody

[2012-11-15 07:30] #22 closed, assigned to nobody

[2012-11-15 07:31] kevana commented on #20
Yep, it wasn't showing up in my issue view (still isn't), but it obviously exists now.

[2012-11-15 07:42] taylortrimble commented on #20
Not anymore, I got rid of them. That was weird.

I've got experience here:
1. First we have to decide whether or not to go open source. That will depend on how you guys feel. I'm fine with it.
2. Next, we'll have to determine if we're assholes or not.
   - Assholes like to pick the GPL (no offense Kyle, but don't worry, you won't pick it. Here's why.) The GPL means that if anyone ever touches even

[2012-11-15 07:42] taylortrimble commented on #20
@aterlumen You may have had filters engaged in the issues view.

[2012-11-15 07:42] taylortrimble commented on #3
Has a pull request open

[2012-11-15 07:42] #3 closed, assigned to CrasherCourse

[2012-11-15 08:05] kevana commented on #20
I was leaning towards open source under MIT. Also, should the copyright notice name an individual or Tesla Works? Along those lines, can a student group even hold copyright?

[2012-11-15 08:20] taylortrimble commented on #20
This is a complicated issue. Technically, the minute you write a line of code, the copyright goes to you. We could technically write `// Copyright (c) 2012 The magical enchanted panda under my couch. All rights reserved.` And the copyright still belongs to _you_ (for the lines of code you wrote), _me_ for the lines of code I wrote, and so on. Some source files you'll see

`// Copyright (c) 2012 Ke

[2012-11-15 08:21] taylortrimble commented on #20
I'd also like to hear @CrasherCourse's opinion on open sourcing the project

[2012-11-15 08:22] CrasherCourse commented on #20
I don't mind open source under MIT.  I don't think we'll be selling this code.

I feel licensing under TW would be the best and allow other members to use this code in the future without any legal issues.

[2012-11-15 08:25] taylortrimble commented on #20
Anyone at all can use it, no matter what we do! :smile: If we find out later that Tesla Works actually doesn't work we can just pile it onto Kevan
`// Copyright (c) 2012 Kevan Ahlquist.`

[2012-11-15 08:26] CrasherCourse commented on #20
I second plan B, copyright to Kevan if not Tesla Works.

[2012-11-15 08:37] CrasherCourse opened #23 "Replace numbers with #define constants"
I feel using data abstractions in place of certain numbers (eg use NUMBER_OF_SLAVES instead of 4) will help clarify meanings of those numbers and allow for easier changes to those values if needed.

[2012-11-15 08:41] taylortrimble commented on #23
Right you are. I'm going to assign this to you; let me know if I shouldn't :stuck_out_tongue_winking_eye:

[2012-11-15 08:47] CrasherCourse commented on #23
Cool, I'll do that later today.  For now I need some sleep

Oh! Where should I put the #define section?
After pragmas?

[2012-11-15 08:56] taylortrimble commented on #23
I hear ya. I'm going to bed too. Night!

On Nov 15, 2012, at 2:47 AM, CrasherCourse notifications@github.com wrote:

[2012-11-16 01:32] #20 closed, assigned to nobody

[2012-11-16 01:35] taylortrimble commented on #23
You can put the `#define`s after the `#include`s.

[code]

[2012-11-17 03:16] taylortrimble commented on #23
Is this still going?

[2012-11-17 16:34] taylortrimble opened #25 "Performance Optimizations"
After our working prototype, we want our device to have the best output rate possible.

[2012-11-17 16:34] taylortrimble commented on #25
This was supposed to be a milestone.

[2012-11-17 16:34] #25 closed, assigned to nobody

[2012-11-18 07:20] kevana opened #26 "Use mapDmxToServo"
The function is there now, but is never called in main.

[2012-11-18 15:01] taylortrimble opened #27 "DMXState is uninitialized"
Our `DMXReceive` function starts off with a `while (DMXState != DMXDone)` but we don't initialize `DMXState`, so there are no guarantees.

[2012-11-18 15:17] taylortrimble opened #28 "Partial DMX frames not supported"
It appears our implementation of `DMXReceive` does not return for frames less than 512 (`DMX_BUFFER_SIZE`) bytes. Instead, if a partial frame is received, it thinks this is an error and attempts a resynchronization.

The DMX standard allows for partial frames, and many consoles implement them.

[2012-11-18 15:23] taylortrimble opened #29 "Oversized DMX receive buffer"
Our DMX receive buffer is 512 (`DMX_BUFFER_SIZE`) bytes right now, but it could be shrunk to the number of heads' channels we are servicing. We can simply read into a dummy variable if it's a channel we don't want to keep and read into our (smaller) buffer if it's a value we do want to keep.

It adds a condition, but we could even stop reading after we fill up our smaller heads buffer. This could

[2012-11-20 16:15] taylortrimble commented on #23
I saw some more of this inside `I2C.c`. We had the number of bytes sent flexible at one point, but that must have been lost inside some complicated merging.

Here's the commit that fixed it once upon a time: ee75060233b3d5b1230b38a00d49b444345c940b

[2012-11-20 17:48] taylortrimble commented on #23
I think we have a few more magic numbers to take care of before this is closed; I know we have a magic 4 in here too.

[2012-11-20 19:48] taylortrimble commented on #28
Sorry for making you throw a revert party, but can we get those changes back in their own branches? I have some time to look at them. Otherwise, I have other stuff to do too!

[2012-11-20 23:48] taylortrimble commented on #28
So, I think that to do this we should refactor DMXReceive or DMXSetup a little bit. We should specify the following that our `DMXReceive` function should consider:
- The DMX Start Address
- The number of DMX channels to read

Then, our `DMXReceive` function can just run until it has gotten to the start address and read in the number of bytes it expects. This solves both this issue and #29.

[2012-11-21 06:00] #23 closed, assigned to kevana

[2012-11-21 06:01] #27 closed, assigned to nobody

[2012-11-21 06:02] #28 closed, assigned to kevana

[2012-11-22 06:10] taylortrimble opened #34 "CCP2MX config setting does not exist"
When I try to build the project, I get the following error:

[code]

Inspection of the documentation at `C:\Program Files (x86)\Microchip\xc8\v1.11\docs\chips\18f2685.html` shows that CCP2MX does not exist for the PIC18F2685.

I think we should remove it!

[2012-11-22 06:36] kevana commented on #34
Ditto on my box, thought it was just me configuring mplab wrong.
On Nov 22, 2012 12:10 AM, "Taylor Trimble" notifications@github.com wrote:

[2012-11-22 20:35] kevana opened #36 "Switch to Interrupt driven DMX input"
If the break time between DMX frames is not long enough to complete all I2C output, we can switch to interrupt driven input. The effect of this is that the DMX input and I2C output will happen concurrently, with the DMX input  taking higher priority.

This would allow for more graceful degradation in communication. If the I2C communication takes more time than is available between DMX bytes, only

[2012-11-23 08:44] kevana commented on #29
Referenced in #33.

[2012-11-24 09:39] taylortrimble commented on #29
I think this is covered in #38. I'm going to close this issue due to that.

[2012-11-24 09:39] #29 closed, assigned to nobody

[2012-11-24 09:40] #26 closed, assigned to nobody

[2012-11-26 21:10] CrasherCourse commented on #34
Whoops!  That's because it belongs to PIC18F2620.
(-_- ) How many times do I have to get the PIC model wrong.

[2012-11-26 21:14] taylortrimble commented on #34
Haha! Well, worse things have happened. Can you make sure the other settings are correct as well and we're not missing any? They should be more or less the same though.

[2012-11-26 21:26] CrasherCourse commented on #34
The main addition is the boot block size selection bits (BBSIZ).
Seems important will check in a bit.

[2012-11-27 04:33] taylortrimble commented on #34
@CrasherCourse Thanks! Did you find out more about this?

[2012-11-27 16:33] CrasherCourse commented on #34
The boot block is used for boot loader routines to write to its own program memory.
The boot block can be set to either 1K, 2K, or 4K words (values: 1024, 2048, 4096 respectively.)
Since we aren't messing with boot loaders right now I would recommend setting the value to 1024.

[2012-11-27 16:35] CrasherCourse commented on #34
Other things to add are protection bits CPX, WRTX, and EBTRX for blocks 4 and 5.

[2012-11-27 16:37] taylortrimble commented on #34
Let's do it!

[2012-11-27 16:46] CrasherCourse commented on #34
Should I do a pull request for those changes?
Or should I let them piggy back on another pull request?

[2012-11-27 16:48] taylortrimble commented on #34
Naw, open a new pull request

[2012-11-27 17:04] CrasherCourse commented on #34
Closing since I put up the pull request for this issue.

[2012-11-27 17:04] #34 closed, assigned to CrasherCourse

[2012-11-27 21:34] CrasherCourse opened #41 "What is our FOSC and Crystal?"
A few weeks back when I was writing pragmas we discussed a little about it.

For now I'm assuming we have a FOSC of 40MHz and 10MHz crystal (4 x 10MHZ = 40MHz).
This is the maximum FOSC, but we can use a slower one if desired.

I would like this to be decided so something can be written down in our code and so we can accurately determine timing like for the baud rate of the I2C output.

@aterlumen

[2012-11-27 21:43] kevana commented on #41
I'd say go with the max possible, no reason to limit ourselves.

On Tue, Nov 27, 2012 at 3:34 PM, CrasherCourse notifications@github.comwrote:

[2012-11-27 21:55] taylortrimble commented on #41
I think Rachel spec'd an 8MHz crystal, but we can order a 10MHz too. Lets do a "what if" for each, and determine which crystal gives is a better tolerance for the I2C and DMX baud rate.

Yes? No?

On Nov 27, 2012, at 3:43 PM, Kevan Ahlquist notifications@github.com wrote:

[2012-11-27 22:01] CrasherCourse commented on #41
@tylrtrmbl might as well.

[2012-11-28 00:07] taylortrimble commented on #41
@CrasherCourse Do you have time for that tonight? I could get an order in for the new crystals to chase our last order if I need to.

On Nov 27, 2012, at 4:01 PM, CrasherCourse notifications@github.com wrote:

[2012-12-03 02:05] CrasherCourse commented on #41
Both a 32M and 40MHz FOSC both evenly produce a 250K Baud for EUSART based DMX.
Not sure about the I2C yet.

[2012-12-03 02:19] CrasherCourse commented on #41
The internal oscillator of the PWM chip is 4MHz.
I feel that a 250K Baud rate should be fine for the I2C since the slaves use the master's clock signal and it's slower than the chip's frequency by a factor of 16.
I would only get the 10 MHz crystal if we needed 10MHz instruction frequency over a 8 MHz one.

Otherwise, the 8 MHz chips already ordered are fine.

[2012-12-04 21:59] taylortrimble commented on #41
Actually, now that I think about it more, we should use a 40MHz clock cycle. We have to do the DMX mapping, and we are concerned about frame rate of the DMX already.

[2012-12-07 04:18] kevana commented on #41
Couldn't hurt, components are cheap.

[2012-12-09 03:00] taylortrimble commented on #41
@mistressoftheelectron I'm sure I could do it, but could you give us a Digi-Key part number for a 10MHz crystal we can substitute in for our current 8MHz crystal?

[2012-12-24 08:19] mplewis commented on #41
I've never known crystals to be terribly difficult to work with. Here are two that should work fine, unless I'm missing something:

[SMD crystal, 887-1941-1-ND](http://www.digikey.com/product-detail/en/9C-10.000MBBK-T/887-1941-1-ND/3679673)

[Through-hole crystal, CTX1057-ND](http://www.digikey.com/product-detail/en/ATS10A/CTX1057-ND/2640025)

[2012-12-25 18:17] taylortrimble commented on #41
Neat-o @mplewis! Looks good to me. Do you know if we need to track down some 20pF caps or if the 22pF ones we ordered will be fine?

[2012-12-26 06:51] mplewis commented on #41
From Wikipedia:

I believe we should pick up some 20 pF caps. Are you looking for surface mount or through-hole?

[2012-12-26 14:54] taylortrimble commented on #41
Wow, nice work! Yes, let's pick up some 20pF. Surface mount, 0805 I believe.

[2012-12-26 15:16] taylortrimble commented on #41
[478-3735-1-ND](http://www.digikey.com/product-detail/en/08051A200JAT2A/478-3735-1-ND/1116433)
Si?

[2012-12-27 08:03] mplewis commented on #41
Looks good to me!

[2012-12-27 15:36] taylortrimble commented on #41
Order placed! Now one more thing before we close this— every microcontroller repo needs Fosc in the README, doesn't it? We shouldn't have to go digging through the wiki to find out things like our device and instruction frequency, so I will add that to the README.

[2012-12-27 18:50] taylortrimble commented on #41
I'll actually add that to #42.

[2012-12-27 18:50] #41 closed, assigned to nobody

[2013-01-11 21:41] mplewis opened #43 "Add hardware DIP switches for field debugging"
After working on Light Show DMX boxes, I figured it might be nice to add some debug switches to the animatronic boards.

We had problems with troubleshooting exactly which boxes were working and to what capacity during Light Show. Having a series of DIP switches to boot a board into a predefined debug mode (test DMX I/O, test signal out, etc.) might help figure out what's wrong with a board withou

[2013-01-12 10:41] taylortrimble commented on #43
That's a good idea. We have a prototype board designed already that has a 5-switch DIP switch on it. We're currently using all the pins for channel offset selection, but perhaps we could use 4 for channel selection and 1 for test mode?

[2013-01-12 10:43] taylortrimble commented on #43
We hit this lightly in #30 right [here](https://github.com/teslaworksumn/HeadMaster/pull/30/files#L1R82)

[2013-01-15 19:41] mplewis commented on #43
Is it possible to change the 5-DIP to a 6-DIP to keep DMX512 support?

[2013-01-15 21:33] taylortrimble commented on #43
5 bits actually doesn't give us full flexibility either: we'd need 9 bits to place the start address anywhere in the DMX frame! However, we sacrifice a little flexibility on purpose (we don't like or have 9-bit DIP switches). We can then use the DIP switches in a few different ways. Ideas we've had so far:
- Each DIP setting is a non-overlapping offset. So, if our head controller is 40 channels, t

[2013-01-15 21:35] taylortrimble opened #44 "Setup code!"
We need to initialize our hardware peripherals with the correct settings for our newly decided clock speed!

Anyone want to finish this before break is over?
@aterlumen @mplewis @CrasherCourse I'm looking at you guys. :eyes:

[2013-01-15 21:36] taylortrimble commented on #44
This may or may not be our last issue before we have a "This **SHOULD** work" prototype (that won't work).

[2013-01-15 22:08] mplewis commented on #44
I can take a look at this. I'll open up a wiki page for my tentative settings and discussion.

[2013-01-15 22:09] mplewis commented on #43
Oh! I got off by a couple of powers of 2. Of course 2^5 != 512. Thanks for the explanation of our DMX protocol.

[2013-01-15 22:11] taylortrimble commented on #44
Actually, use this issue! You can discuss here, and add a pull request once you have code. It doesn't even have to be right when you open the pull request, it's just a place where we can discuss the actual implementation.

[2013-01-15 22:12] mplewis commented on #44
Sounds good to me. We should start getting a list of exactly what peripherals we need to reconfigure. USART is one.

[2013-01-15 22:22] taylortrimble commented on #43
No problem! There's a few ways to go about it, and I bet there's even more than we have here.

[2013-01-15 22:24] taylortrimble commented on #43
If we add a debug bit, what functions would it have?

Some ideas so far:
- test DMX input (note, no DMX out this version, and I don't see future reason for it either)
- test servo signal output

[2013-01-15 22:26] taylortrimble commented on #44
I think we have:
- USART for DMX (baud rate matches DMX)
- I2C to slave pwm generators in each head (not sure bout baud rate here)

[2013-01-15 22:26] taylortrimble commented on #44
Plus the configuring the clock of the whole device properly for 40MHz `Fosc`

[2013-01-15 22:32] mplewis commented on #44
Are we running in I2C fast mode or just standard I2C mode?

[2013-01-15 22:34] taylortrimble commented on #44
I was about to ask you the same thing. I'm not sure looking at the code and documentation for our [slave](https://github.com/teslaworksumn/headslave). Might have to reverse engineer it from the chip's documentation and how it's set up in the current code.

[2013-01-15 22:34] taylortrimble commented on #44
I know that DMX baud rate is 250k, so I think our USART has to be configured with that too

[2013-01-15 22:41] mplewis commented on #43
That sounds about right. Both of those are what I was thinking.

Could flipping the debug bit reconfigure the meaning of the LEDs, especially `RB4` and `RB5`?

[2013-01-15 22:42] taylortrimble commented on #43
To what?

[2013-01-15 22:43] taylortrimble commented on #44
D'oh. I2C has master-determined and provided clock line. So we just need to find out if our slave can take a full "standard mode" I2C signal using the super-slow 4MHz internal clock. I get the impression it was only tested using a LEGO Mindstorms brick, which only has a 9600 bits/s baud rate.

[2013-01-15 22:45] mplewis commented on #43
According to the [Hardware Docs](https://github.com/teslaworksumn/HeadMaster/wiki/Hardware-Documentation), we have `RB4` and `RB5` as DMX input status LEDs.

I'm not sure if we'd want to reconfigure those for another purpose if we toggle a debug bit, but if we do need more output/visual confirmation, those two LEDs are the first ones we should touch.

Just curious: is there any way for us to tell

[2013-01-16 04:18] mplewis commented on #44
From Wikipedia:

That means we should be able to make it work.

[2013-01-16 04:30] taylortrimble commented on #44
Okay, sweet. I think that low-speed has enough throughput for us, so let's target that!

[2013-01-18 20:16] mplewis commented on #44
We're using a 10 MHz crystal. Using HSPLL mode --> 40 MHz Fosc.

`CONFIG1H: 00000110`
- no switchover or failsafe monitor
- HSPLL mode (Fosc = 4x primary oscillator))
- Datasheet pg. 344

`OSCCON: 01000000`
- use primary oscillator (10 MHz crystal)
- Datasheet pg. 30

[PIC18F2685 datasheet (PDF)](http://ww1.microchip.com/downloads/en/devicedoc/39761b.pdf)

[2013-01-18 20:31] mplewis commented on #44
Datasheet pg. 231 has baud rate formulas.

DMX baud rate = 250 KHz
Fosc = 40 MHz
Baud rate = Fosc / (x (n + 1))
where x is either 64, 16, or 4, dependent on BRG/EUSART mode.

250 KHz = 40 MHz / (x (n + 1))
x (n + 1) = 160

Let x = 4 (that means we can use **3 modes**: 16-bit async, 8 bit sync, 16 bit sync)
Thus, n + 1 = 40, so **n = 39**

Let x = 16 (that means we can use **2 modes**: 8-bit async,

[2013-01-18 20:36] mplewis commented on #44
Details for setting up an EUSART async transmission are on datasheet pg. 236.

Details for setting up an EUSART async reception are on datasheet pg. 238.

[2013-01-18 21:19] taylortrimble commented on #44
Usually for PIC microcontrollers, we don't set the registers directly for controller-wide settings such as clock speed. We usually instead use `#pragma config` directives. [This comment](https://github.com/teslaworksumn/HeadMaster/issues/3#issuecomment-10042628) describes how to get them for a different PIC, but it's more or less the same! :smiley: You do need MPLAB X and the xc8 compiler, however

[2013-01-18 21:20] taylortrimble commented on #44
That is correct!

[2013-01-18 21:20] taylortrimble commented on #44
Thank you @mplewis! Keep it up!

[2013-01-20 05:00] kevana commented on #44
Good stuff.

[2013-01-21 23:48] mplewis commented on #44
I've set up a branch: setup_code. I intend to have this done by tonight once I understand pragmas, which @tylrtrmbl tells me is easy.

[2013-01-21 23:51] taylortrimble commented on #44
Feel free to open a pull request on that before you are ready to merge it, and we'll watch it as you go, and discuss, etc. Thanks @mplewis!

[2013-01-22 00:15] mplewis commented on #44
I'm waiting for the XC8 compiler to download and working from the [C18 Config Settings guide](http://ww1.microchip.com/downloads/en/DeviceDoc/MPLAB_C18_Config_Settings_51537c.pdf) using the PIC18F2680 section as a guide.

Based on what I've posted above previously:

I'm adding this code to the pragmas:

[code]

I can't find that in the document linked. Do we set up USART with pragmas?

[2013-01-22 00:49] mplewis commented on #44
For reference, I've put the 18F2685 XC8 compiler docs online [here](http://www.mplewis.com/archive/18f2685.html). Enjoy.

[2013-01-22 03:39] taylortrimble commented on #44
@mplewis, Thanks! :gift_heart:

[2013-01-22 17:58] mplewis commented on #44
I need someone to look at #46, the code I'm modifying for this issue. I have a [line note](https://github.com/teslaworksumn/HeadMaster/pull/46#discussion_r2720517) detailing my question re: baud rate for DMX.

Can someone verify what baud rate we're targeting?

[2013-01-26 01:24] CrasherCourse opened #47 "What DMX Software should we use?"
As the the title asks any ideas on what software we should use to run the show.

We need something that can run multiple audio files, one for each head.

I not sure if the light show software does so or not, which is why I am asking.

[2013-01-26 01:35] CrasherCourse opened #48 "How to test the software?"
Another self-explanatory title.

I believe we should have a mock show that just runs through all the servo channels.

I think @tylrtrmbl has a signal reading device we could use to check the outputs of our master and the slave chips without using the servos.

Also, is the a way to simulate any part of our master code on a computer?

[2013-01-28 17:57] mplewis commented on #44
#46 has been merged and this issue should be closed now.

[2013-01-28 17:57] #44 closed, assigned to mplewis

[2013-01-28 17:59] mplewis opened #49 "Implement coding style guide and clean up code to match"
@tylrtrmbl has a fancy schmancy style guide almost ready to go. When it's up, we should implement it on all code in this repository.

[2013-01-29 20:05] taylortrimble commented on #47
Right now we have a thread running on the Basecamp for this, since it's not specifically part of the HeadMaster code (our implementation doesn't care what drives it, as long as it's DMX). You can catch the discussion over there! A lot has been thrown around, and right now the idea is that we're rolling our own, but that was when we were planning on Sequence existing. We'll probably use light-o-ram

[2013-01-29 20:05] #47 closed, assigned to nobody

[2013-01-29 20:11] taylortrimble commented on #48
This definitely is HeadMaster-specific. It depends on what you mean by test: there are a few kinds of tests we could do:
- **Unit tests:** Testing individual functions in our code with other code, such as the `mapDmxToServo` function
- **Fixture tests:** Where we hook up our device to a physical signal, and test that it behaves properly. This looks most like what you're recommending
- **Integratio

[2013-01-29 20:16] taylortrimble commented on #43
There's no built-in feedback signal to the board that can verify servos are listening/responding, unless we add sensors ourselves (quadrature encoders, etc.) right now, we don't have those spec'd because the master controller is just sending out I2C commands to the boards that _actually_ control the servos. The servo driver we have doesn't support feedback currently, so our master can't get them e

[2013-01-29 20:18] taylortrimble commented on #43
Looking at this, I don't know if we need specifically a debug mode, since we'll always be indicating our two systems' statuses— DMX and I2C. Am I mistaken?

[2013-01-29 20:19] taylortrimble opened #50 "Indicator LEDs"
Currently, we don't use our indicator LEDs. We should! To start off with, we could use them for:
- DMX status
- I2C status

Since we have 2.

[2013-01-29 20:46] taylortrimble commented on #49
Posted! [teslaworksumn/coding-style](https://github.com/teslaworksumn/coding-style)

[2013-01-31 01:41] mplewis opened #52 "Change wiki links to relative style"
https://github.com/blog/1395-relative-links-in-markup-files

We don't have to use absolute links any more!

[2013-01-31 03:53] taylortrimble commented on #52
Hooray! Yes, definitely.

[2013-01-31 06:26] kevana commented on #48
Testing the DMX library out of band would be ideal, but that my not be possible without a ton of extra effort. It compiles, but I wasn't able to do any real world testing on it to see how it behaves.

[2013-01-31 06:28] kevana commented on #43
I agree, unless there's something else we need to keep track of that we haven't thought of.

[2013-01-31 06:31] taylortrimble commented on #48
I like the idea of a simulated test suite that @CrasherCourse mentioned. @CrasherCourse, can you actually be responsible for implementing that?

I think @aterlumen would be fully qualified to design a pretty nice smoke test too, using my I2C reading device and DMX output device.

[2013-01-31 06:40] kevana commented on #48
Elaborate?

[2013-01-31 06:50] taylortrimble commented on #48
I have a device that can read I2C and a device that can output DMX. You'd have to sit there and watch the test (which is why it's called a smoke test, btw) but you should be able to come up with a good test I think!

[2013-01-31 18:04] mplewis commented on #43
Agreed. :+1:

[2013-01-31 18:49] taylortrimble commented on #43
All righty! Next step: actually using LEDs.

[2013-01-31 18:49] #43 closed, assigned to nobody

[2013-01-31 19:23] mplewis commented on #52
Done, changes have been merged. Closing this issue.

[2013-01-31 19:23] #52 closed, assigned to nobody

[2013-02-07 20:22] taylortrimble commented on #48
Okay, so we have everything needed to test and the master board is done.

... guess it's time to go! Can we do this on Friday? The meeting portion at the front should be less than 10 minutes, so we can go to Keller and come back for pizza.

@aterlumen @mplewis @CrasherCourse

[2013-02-07 21:48] mplewis commented on #48
:cool: :roller_coaster:

[2013-02-08 01:22] CrasherCourse commented on #48
Can we do it?
...
Yes we can!

[2013-02-09 01:33] mplewis opened #54 "I2CSend takes only a receiver number"
The function takes only 0 through 4. It uses a **_global**_ buffer. This is bad.

[2013-02-09 01:34] mplewis opened #55 "Code abstractions for turning LEDs on and off"
Title says it all. Setting registers is bush league.

[2013-02-09 02:32] CrasherCourse opened #56 "Move clear spif in I2C code"
Just move the clearing of the sp interrupt flag out of the send byte function.
Or make a wait function.

More issues likely pending.

[2013-02-09 02:50] taylortrimble commented on #56
Clear after this stuff:

[2013-02-09 02:51] taylortrimble commented on #55
Could we get this both as individual LEDs, and also so we can export numbers to the pink LEDs?

[2013-02-09 02:55] mplewis commented on #55
Sure. Such as, ledOn(ledNum), ledOff(ledNum), ledOut(0-F)?

[2013-02-09 03:05] taylortrimble commented on #55
Yep, that's the idea!

[2013-02-09 03:06] taylortrimble commented on #55
We also have controllable DMX/I2C LEDs. And don't forget the setup-plugin function!

[2013-02-09 09:37] mplewis commented on #55
So, six LEDs then:

ledOn(0 to 5)
ledOff(0 to 5)
ledSet(00 to 7F)

[2013-02-11 05:40] taylortrimble commented on #49
I think this was done.

[2013-02-11 05:40] #49 closed, assigned to taylortrimble

[2013-02-15 21:30] CrasherCourse commented on #56
Pull Request merged.
Issue now obsolete.

[2013-02-15 21:30] #56 closed, assigned to CrasherCourse

[2013-02-16 03:27] CrasherCourse commented on #54
As of today, the global buffer is not used.
Though you may want to look at the current design of I2CSend just in case.

[2013-02-16 03:44] taylortrimble commented on #54
Yep, I think this is good now!

[2013-02-16 03:44] #54 closed, assigned to nobody

[2013-04-13 21:17] taylortrimble opened #61 "Odd glitch on I2C master to slave comms"
Hey. This is actually Matt, and here's a picture of an odd I2C bug.

![Screen Shot 2013-04-13 at 4 15 33 PM](https://f.cloud.github.com/assets/1058478/377129/7a505c9e-a47f-11e2-9dfd-626d17d916f8.png)

There's a little bit twiddle on SDA after the 9 data bits. It doesn't do anything and it shouldn't impact our comms but we should take a look at it sometime.

[2013-05-04 00:32] taylortrimble commented on #50
This was moved to #58.

[2013-05-04 00:32] #50 closed, assigned to nobody

[2013-05-04 00:32] #48 closed, assigned to nobody

[2013-05-04 00:34] taylortrimble opened #62 "I2C Bus Fault Tolerance"
Our I2C bus isn't very fault-tolerant at the moment. We should figure out a way to improve that, by figuring out when it goes down and correcting the issue when it does! Should be fun.

[2017-07-03 21:37] #55 closed, assigned to mplewis